:root {}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Damion', sans-serif;
  overflow-x: hidden;
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* hamburger menu style +  hamburger menu style animations */

.hmb-btn {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.hmb-btn__outer {
  display: inline-block;
  width: 24px;
  height: 30px;
  position: relative;
}

.hmb-btn__inner,
.hmb-btn__inner::before,
.hmb-btn__inner::after {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.hmb-btn__inner {
  top: 50%;
  transform: translateY(-50%);
  transition: backgroud 0.1s 0.2s ease-in-out;
}

.hmb-btn__inner::before,
.hmb-btn__inner::after {
  content: "";
  transition: transform 0.2s 0.2s ease-in-out;
}

.hmb-btn__inner::before {
  top: -10px;
}

.hmb-btn__inner::after {
  top: 10px;
}

.hmb-btn--active .hmb-btn__inner {
  background: transparent;
}

.hmb-btn--active .hmb-btn__inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hmb-btn--active .hmb-btn__inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

/* header */

.header {
  background-image: url(../images/Rectangle1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2em;
}

.header__logo {
  width: 120px;
  height: 60px;
}

.header__nav-cnt {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 70px;
  margin-bottom: 2em;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.header__nav-cnt--menu-active {
  height: 400px;
}

/* header__list style animation */

.header__nav {
  margin-left: auto;
}

.header__list {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-450px) translateX(-50%);
  transition: all 0.5s ease-in-out;
  width: 250px;
  height: auto;
  font-size: 2em;
}

.header__list--active {
  transform: translateY(90px) translateX(-50%);
  z-index: 10;
  border-top: 1px solid #fff;
}

.header__item {
  margin-top: 0.25em;
  text-align: center;
}

.header__link {
  font-size: 0.5em;
  color: #fff;
}

.header__welcome-txt {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.header__text {
  text-align: center;
  grid-column: 1/9;
}

.header__title,
.header__paragraph {
  color: #fff;
}

.header__title {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 1em;
}

.header__subtitle {
  font-size: 1.5em;
  font-weight: 600;
  margin: 1em 0 2em 0;
}

.header__image-cnt {
  display: none;
}

.header__paragraph {
  font-size: 1.25em;
  margin: 1em 0 2em 0;
}

.header__btn {
  text-align: center;
  font-size: 2em;
  padding: 0.25em;
  color: #fff;
  background-color: #9068be;
  margin-bottom: 2em;
  display: inline-block;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* sections */
.section,
.section-contact,
.section-work,
.footer {
  padding: 2em;
}

.section {
  font-size: 1em;
}

.section--white-bg {
  background-color: #fff;
}

.section--grey-bg {
  background-color: #f6f6f6;
}

.section__welcome-text,
.section__describe {
  grid-column: 1/9;
}

.section__image {
  display: none;
}

.section__welcome-text {
  text-align: center;
  margin-bottom: 1.5em;
  color: #828282;
}

.section__title {
  font-size: 1.5em;
}

.section__title--font-m {
  font-size: 1.25em;
}

.section__title::after {
  content: "";
  display: block;
  width: 55px;
  height: 4px;
  background-color: #02c6d8;
  margin: 1em auto;
}

.section__title-p {
  line-height: 1.4em;
}

.section__describe {
  background-color: #f6f6f6;
  padding: 1.25em;
  font-size: 0.75em;
  text-align: center;
}

.section__text {
  color: #555;
  margin-bottom: 1.25em;
}

.section__link {
  color: #e46e48;
}

/* section-contact */

.section-contact {
  background-color: #9068be;
  color: #ffff;
  padding: 2em;
}

.section-contact__text,
.section-contact__form {
  grid-column: 1/9;
}

.section-contact__text {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
}

.section-contact__title {
  margin-bottom: 1em;
}

.section-contact__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.section-contact__label {
  display: none;
}

.section-contact__input,
.section-contact__btn {
  border: none;
  margin-bottom: 1em;
  padding: 0.75em 0.5em;
  font-size: 1.25em;
}

.section-contact__input {
  color: #828282;
}

.section-contact__btn {
  background-color: #e46e48;
  color: #fff;
}

.section-contact__btn:focus {
  outline: #000 solid;
}

/* offert-card */

.offert-card-cnt {
  grid-column: 1/9;
  text-align: center;
  margin-bottom: 2em;
}

.offert-card {
  background-color: #fff;
  padding: 90px 2em 45px 2em;
  margin-top: -75px;
  margin-bottom: -23.5px;
}

.offert-card__img-cnt {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.offert-card__title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.offert-card__title--purple {
  color: #9068be;
}

.offert-card__title--aqua {
  color: #02c6d8;
}

.offert-card__p {
  color: #555;
  font-size: 1em;
}

.offert-card__link {
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'Damion', sans-serif;
  color: #fff;
  display: inline-block;
}

.offert-card__link--orange {
  background-color: #e46e48;
}

.offert-card__link--green {
  background-color: #326c73;
}

/* client-card */

.client-card-cnt {
  grid-column: 1/9;
  text-align: center;
  font-size: 1em;
}

.client-card-cnt__quote-cnt {
  height: 70px;
  width: 70px;
  margin-left: 20px;
}

.client-card-cnt__quote-img {
  vertical-align: middle;
}

.client-card-cnt__content {
  box-shadow: 0 0 4px 0;
  font-style: italic;
  font-weight: 400;
  color: #555;
  padding: 60px 1em 50px 1em;
  margin: -45px 0 -32.5px 0;
}

.client-card-cnt__client-image {
  height: 65px;
  width: 65px;
}

.client-card-cnt__client-name {
  color: #9068be;
  font-size: 1.5em;
}

.client-card-cnt__client-link {
  color: #02c6d8;
  font-size: 1.25em;
}

/* section section-work */

.section-work {
  background-image: url(../images/sectionWork.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 2em;
  color: #fff;
}

.section-work__text {
  font-size: 1.25em;
  margin: 2em 0;
}

.section-work__link {
  background-color: #e46e48;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
  color: #fff;
  display: inline-block;
}

/* footer */

.footer {
  background-color: #000;
  text-align: center;
  font-size: 1em;
  margin: 0;
}

.footer__list {
  display: none;
}

.footer__img {
  width: 20%;
  margin: 1em 0;
}

.footer__socials-list {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.footer__socials-list-link {
  background-color: #cfcfcf;
  color: #011e22;
  width: 25px;
  height: 25px;
  font-size: 1em;
  line-height: 25px;
  margin: 2px;
  display: inline-block;
}

@media screen and (min-width: 620px) {

}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}